@{
    var cart = ViewData["Cart"] as Cart;
    ViewData["ProductNumber"] = 0;
}
@section Links{
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/cart.css">
    <link rel="stylesheet" type="text/css" href="~/css/cart_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/my.css">
}

    <div class="super_overlay"></div>

    <!-- Home -->

    <div class="home">
        <div class="home_container d-flex flex-column align-items-center justify-content-end">
            <div class="home_content text-center">
                <div class="home_title">Shopping Cart</div>
                <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                    <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                        <li><a href="#">Home</a></li>
                        <li>Your Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Cart -->

    <div class="cart_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="cart_container">

                        <!-- Cart Bar -->
                        <div class="cart_bar">
                            <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                <li class="mr-auto">Product</li>
                                <li>Size</li>
                                <li>Price</li>
                                <li>Quantity</li>
                                <li>Total</li>

                            </ul>
                        </div>

                        <!-- Cart Items -->
                        <div class="cart_items">
                            <ul class="cart_items_list">

                                @if (cart != null)
                            {
                                <!-- Cart Item -->
                                @for (int item = 0; item < cart.Products.Capacity; item++)
                                {
                                    ViewData["ProductNumber"] = item + 1;
                                    <partial name="./DisplayTemplates/_CartProduct" model="cart.Products[item]" view-data="ViewData" />
                                }
                            }
                            else
                            {
                                <li>
                                    <p>No products</p>
                                </li>
                            }

                        </ul>
                    </div>

                    <!-- Cart Buttons -->
                    <div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
                        <div class="cart_buttons_inner ml-sm-auto d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <div class="button button_clear trans_200">
                                <a href="#">clear cart</a>
                            </div>
                            <div class="button button_continue trans_200"><a href="#">buy</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
