@model List<Product>

@section Links{
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/category.css">
    <link rel="stylesheet" type="text/css" href="~/css/category_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/my.css">
}

    <!-- Home -->

    <div class="home">
        <div class="home_container d-flex flex-column align-items-center justify-content-end">
            <div class="home_content text-center">
                <div class="home_title">Category Page</div>
                <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                    <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">category.title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Products -->

    <div class="products">
        <div class="container">
            <div class="row products_bar_row">
                <div class="col">
                    <div class="products_bar d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
                        <div class="products_bar_side d-flex flex-row align-items-center justify-content-start ml-lg-auto">
                            <div class="products_dropdown product_dropdown_sorting">
                                <div class="isotope_sorting_text">
                                    <span>Default Sorting</span><i class="fa fa-caret-down"
                                                               aria-hidden="true"></i>
                                </div>
                                <ul>
                                    <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'>
                                        Default
                                    </li>
                                    <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>Price</li>
                                    <li class="item_sorting_btn" data-isotope-option='{ "sortBy": "name" }'>Name</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products_row products_container grid">

                @foreach (var item in Model)
            {
                <!-- Product -->
                <div class="col-xl-4 col-md-6 grid-item new">
                    @await Html.PartialAsync("_Product",item)
                </div>
            }

        </div>
        <div class="row page_nav_row">
            <div class="col">
                <div class="page_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-center">

                        @for (var i = 1; i <= 4; i++)
                        {
                            <li><a href="#">@i</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/css/bootstrap/popper.js"></script>
    <script src="~/css/bootstrap/bootstrap.min.js"></script>
    <script src="~/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/plugins/Isotope/fitcolumns.js"></script>
    <script src="~/js/category.js"></script>
}