@{
    Layout = "/Views/Shared/_Layout.cshtml";
    List<Product> products = ViewData["Products"] as List<Product>;
}

@section Links{
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/my.css">
}

    <div class="super_overlay"></div>

    <!-- Home -->

    <div class="home">
        <!-- Home Slider -->
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">

                @for (int i = 0; i < 3; i++)
            {
                <!-- Slide -->
                <partial name="./DisplayTemplates/_Slide" model="products[i]" />
            }

        </div>
        <div class="home_slider_nav home_slider_nav_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        <div class="home_slider_nav home_slider_nav_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
    </div>
</div>

<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section_title text-center">Popular on Little Closet</div>
            </div>
        </div>
        <div class="row page_nav_row">
            <div class="col">
                <div class="page_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-center">
                        @await Component.InvokeAsync("CategoriesList")
                    </ul>
                </div>
            </div>
        </div>
        <div class="row products_row">

            @foreach (var item in products)
            {
                <!-- Product -->
                <div class="col-xl-4 col-md-6">
                    <partial name="./DisplayTemplates/_Product" model="item" />
                </div>
            }

        </div>
        <div class="row load_more_row">
            <div class="col">
                <div class="button load_more ml-auto mr-auto"><a href="#">load more</a></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
