@{

}
@section Links{
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/my.css">
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
}

    <div class="main_div">
        <div class="models_display">
            <ul class="models_names">
                <a asp-action="Index" asp-controller="Home">
                <li class="model_name_item">Products</li></a>
                <a asp-action="Index" asp-controller="Home">
                <li class="model_name_item">Categories</li></a>
                <a asp-action="Index" asp-controller="Home">
                <li class="model_name_item">Users</li></a>
                <a asp-action="Index" asp-controller="Home">
                <li class="model_name_item">Users carts</li></a>
            </ul>
        </div>
        <div class="models_items">
            <ul class="models_names">
                <li>AAAAAA</li>
                <li>BBBBBB</li>
                <li>CCCCCC</li>
                <li>DDDDDD</li>
                <li>DDDDDD</li>
                
            </ul>
        </div>
    </div>
