.products_dropdown {
    cursor: pointer;
}

.product_dropdown_filter {
    width: 114px;
}

.product_dropdown_sorting {
    margin-right: 59px;
}

.user_dropdown_sorting {
    margin-right: 0px;
}

.isotope_filter_text span,
.isotope_sorting_text span {
    font-size: 16px;
    font-weight: 400;
    color: #969696;
}

.products_dropdown i {
    margin-left: 9px;
    font-size: 14px;
    color: #bcbcbc;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.products_dropdown:hover i {
    color: #000000;
}

.products_dropdown > ul {
    position: absolute;
    top: 100%;
    right: -2px;
    visibility: hidden;
    opacity: 0;
    width: 100px;
    background: #f6f8fa;
    padding: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    transition: all 200ms ease;
}

.products_dropdown ul li:not(:last-child) {
    margin-bottom: 7px;
}

.products_dropdown ul li {
    font-size: 14px;
    font-weight: 400;
    color: #bcbcbc;
    transition: all 200ms ease;
    display: flex;
    justify-content: center;
}

    .products_dropdown ul li:hover {
        color: #000000;
    }

.products_dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
}

.user {
    width: 40px;
}

.buttons_cart_like {
    width: 40px;
}

.delete_btn {
    text-align: center;
    background: #399d7b;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.delete_btn:hover {
    background: #414141;
}
